{% extends "layout.njk" %}
<!--Extendendo conteudo da pagina layout-->

<!--Levando esse conteudo para pagina layout-->
{% block content %}
    <div id="container">
        <img src="{{ about.avatar }}" alt="{{ about.nome }}">
        <h1>{{ about.name }}</h1>
        <h2>{{ about.cargo }}</h2>
        <p>{{ about.description }}</p>
    </div>

    <div id="links-footer" class="links">
    {% for item in about.social %}
        <a href="{{item.link}}" target="_blank">{{item.name}}</a>
    {% endfor %}
   
    </div>
{% endblock %}